
1 ICON "app.ico"
1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,7,0,0
PRODUCTVERSION 0,7,0,0
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Yonggary"
      VALUE "Comments", "https://github.com/yonggary-1/GitHubRelay"
      VALUE "FileDescription", "GitHub Relay (unofficial, not affiliated with GitHub, Inc.)"
      VALUE "FileVersion", "0.7"
      VALUE "InternalName", "GithubRelay"
      VALUE "LegalCopyright", "MIT License"
      VALUE "OriginalFilename", "GithubRelay.exe"
      VALUE "ProductName", "GitHub Relay"
      VALUE "ProductVersion", "0.7"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
